ENV=prod
DEBUG=True
SECRET_KEY=django-key
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173
DB_PASSWORD=
SUPABASE_DB_URL=
GEMINI_API_KEY=